[2015-02-01 04:50] paddleman opened #1 "Problem with bootstrap js when starting the server"
I am getting this error when I attempt to start the server.

Path or pattern "bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js" did not match any files.

ignoring the bootstrap javascript in the Brocfile does not resolve the issue.

Using
ember-cli 0.1.12
ember1.10-beta4
ember-data1.0.0-beta14.1

The server worked without errors with this setup and ember-cli-sass installed.

[2015-02-01 10:48] yankeeinlondon commented on #1
Sorry I released this last night a little tired; I'll look into it. Should be pretty easy to get working this morning.

[2015-02-01 12:22] yankeeinlondon commented on #1
It should work now but please completely uninstall both Bootstrap and Sassy before reinstalling.

[code]

This should install Bootstrap _and_ the appropriate config to get it included. The one thing I'm still scratching my head over is the sequence that ember-cli uses in a build ... I suspect that if ember-cli-sass were executed _before_ sassy then the configuration might not have had a chance to

[2015-02-01 13:59] akisvolanis commented on #1
i have the same error too.

[2015-02-01 14:39] yankeeinlondon commented on #1
Can you guys check ... I think what's happening is the underlying bootstrap is not getting installed when you call `ember install:addon`. Do you have `bower_components/bootstrap-sass-official` directory?

I would expect it to install due to my blueprint here: [ember-cli-bootstrap-sassy](https://github.com/lifegadget/ember-cli-bootstrap-sassy/blob/master/blueprints/ember-cli-boostrap-sassy/index.js

[2015-02-01 14:41] yankeeinlondon commented on #1
Oh shit. Typo. I have the blueprint in the "boostrap" directory. Errgh. Fix in 5 minutes.

[2015-02-01 16:53] akisvolanis commented on #1
seems it works now. But i'm getting this error while importing bootstrap "/tmp/tree_merger-tmp_dest_dir-H8kKD02r.tmp/app/styles/app.scss:1: file to import not found or unreadable: "bootstrap". I have to include the full path for _bootstrap.scss in order to work: @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";.

[2015-02-01 19:50] yankeeinlondon commented on #1
@charlatan154 hmmm ... any chance you could post an example of this so I can take a look? Secondarily, do you know anything about the sequencing of the the build pipeline? Specifically I'm wondering if maybe ember-cli-sass is being run before sassy's able to add the config parameters to it. I wouldn't have thought so but it's working as its supposed to for me.

Last point, please try and remove bo

[2015-02-01 19:52] yankeeinlondon commented on #1
Oh, just in case, are you using the latest build? `v0.0.9`

[2015-02-02 08:57] akisvolanis commented on #1
Yes i'm using your latest build. I guess this error is because you haven't included the paths for ember-cli-sass in your config like :

[code]

One tip here, when you setup your addon sassOptions remember to extend the user's ones otherwise you'll overwrite them causing a headache to user :) something like this:

[code]

[2015-02-02 09:02] akisvolanis commented on #1
oh sorry i just saw that you actually include those paths. sorry :) i'll try some tests later and i'll come back if i found something...

[2015-02-02 09:24] yankeeinlondon commented on #1
@charlatan154 wrt to non-destructive configuration to sassOptions ... it was my PR which fixed this 6-9 months ago (that code sample you put in was my contribution) on the original bootstrap-sass :) Nice to see it show up again.

I needed this because I tend to mix in Bourbon with my projects (the library not the liquor).

[2015-02-02 09:27] akisvolanis commented on #1
Yes i remember that cause i had this problem too. It's something you can't easy forget if you meet this once.. :) so thanks again :)

[2015-02-02 11:57] akisvolanis commented on #1
ok i found the issue. The broccili-sass compiler that i was using was causing the error. I thing it has to do with the handlebars version that i'm using ( v2.0 ). I switch to ember-cli-sass and everything works fine.

[2015-02-02 12:51] charlatan154 opened #2 "Opt out Bootstrap's JS libraries"
importBootstrapJS option seems that it's not working cause under your 'ember-cli-bootstrap-sassy' options in index.js your checking it as a 'js' option. Also the import js check seems to have some typos.

[code]
change into
[code]
I also had to remove your log configMessage.push('some JS loaded [%@]'.fmt(o.js.join(','))); on line 34 cause it was cause an error Object some JS loaded [%@] has no met

[2015-02-02 16:33] yankeeinlondon commented on #1
@charlatan154 ok, shall i close this issue?

[2015-02-02 16:39] akisvolanis commented on #1
yes i think it's ok. Thanks again...

[2015-02-02 16:46] #1 closed

[2015-02-02 23:35] erichaus commented on #2
I am getting same error, can this be pulled into repo?

[2015-02-03 00:04] erichonkanen opened #5 "Getting error on install"
remote: bower handlebars              extra-resolution Unnecessary resolution: handlebars#>= 2.0.0 < 3.0.0
remote: -----> Caching bower_components directory for future builds
remote: -----> Building Ember CLI application production distribution
remote:        version: 0.1.3
remote:
remote: /tmp/build_c483dcfcb84f7a1c49e134c9576795bc/node_modules/ember-cli-bootstrap-sassy/index.js:34
remote: 			con

[2015-02-03 00:04] erichaus commented on #5
points to the o in o.js.join

[2015-02-03 00:17] yankeeinlondon commented on #2
@erichonkanen this was done a few hours ago and is passing all CI tests. Oh, I see that my last two commits were not pushed to NPM. My bad ... version `0.0.11` is now up and should be fine.

[2015-02-03 00:17] yankeeinlondon commented on #2
I'm going to close this issue but let me know if you feel it should be re-openned.

[2015-02-03 00:17] #2 closed

[2015-02-03 08:29] akisvolanis commented on #5
made a new PR to fix some typos.

[2015-02-03 10:03] yankeeinlondon commented on #5
this should be fixed now

[2015-02-03 10:03] #5 closed

[2015-02-16 21:43] erichonkanen opened #7 "Compass"
Hello,

I am using this library with ember-cli-sass and am wondering how I can also use compass mixins?

I found this lib https://github.com/quaertym/ember-cli-compass-compiler but when I install it I get

[code]

any information appreciated!

[2015-02-17 14:23] yankeeinlondon commented on #7
I think the watchman issue is probably unrelated, so I'd ignore. Also it looks like, although I wouldn't swear to it, that Bootstrap has loaded successfully. I'm not familiar with the compass CLI addon so can't help much there but if you look at how the Sassy addon hooks into ember-sass-cli:

You might want to compare that to how your compass addon hooks into SASS and make sure that it's approach

[2015-02-19 08:15] ballPointPenguin commented on #1
I'm having the same problem with a fresh ember-cli app after running:

[code]

ember-cli 0.2.0-beta.1
iojs 1.2.0
npm 2.1.8

[2015-02-19 08:19] ballPointPenguin commented on #1
Workaround (which I really don't mind) is to include the full bower_components/... path to bootstrap in my app.scss file.

I wonder if new addon loading stuff in ember-cli 0.2.0 is the cause of this regression.

[2015-02-19 08:26] yankeeinlondon commented on #1
Strange. I just brought this addon into a new project yesterday and it worked fine (0.1.15, node 0.10.33). Admittedly I'm not quite out as far on the _precipice_ as you with a ember-cli beta and io.js. I sort of suspect there might be a regression with 0.2.0 of CLI as the error would indicate that one of the broccoli build steps that the addon is meant to add is not being fired?

[2015-02-19 18:55] dxmo commented on #1
I can confirm this happens for me too with 0.2.0 beta. Apparently the 0.2.0 has some breaking changes for addons: https://github.com/ember-cli/ember-cli/blob/master/CHANGELOG.md

[2015-02-20 18:11] yankeeinlondon commented on #1
it'll take me a few days before I start switching to 0.2.0 but apparently there are mechanisms to support both old and new if either of you want to do the PR i'm happy to accept it.

[2015-03-05 18:57] sbsurf opened #8 "file to import not found or unreadable: bootstrap"
Hello,

I am having trouble using your add-on. I get the following errors when trying to build:

[code]

app/styles/app.scss:

[code]

package.json:

[code]

ember-cli v. 0.2.0-beta.1
ember v. 1.10.0

[2015-03-05 19:31] sbsurf commented on #8
Resolved issue by adding this to config/environment.js:

[code]

[2015-03-06 09:34] yankeeinlondon commented on #8
Yes I'm afraid this is due to a breaking change in the way ember-cli v0.2.0 handles cascading dependencies (aka, bootstrap sass depends on sass). It's on my list of things to fix but I'd happily take a PR if someone has the time for that.

[2015-03-13 14:29] #7 closed

[2015-03-16 02:18] vicentereig commented on #8
@ksnyde Would mind give us an overview on how to fix it?I'm willing to fix it, as I'm upgrading an ember-cli project from 0.1.3 to 0.2.0, but I'm still missing what bits have changed ever since.

[2015-03-16 15:14] yankeeinlondon commented on #8
On the Ember CLI site they make reference to the fixes needed but when I was glancing at this the other day it occurred what I think happened may have been that the underlying ember-cli-sass addon changed and now is using ENV based configuration rather than modifying the Brocfile. Not sure about this though as it was just a passing glance.

The Ember CLI reference I was referring to is:

[2015-03-16 15:16] yankeeinlondon commented on #8
Historically all that was needed was non-destructively adding the path to Boostrap's path into ember-cli-sass's configuration:

https://github.com/lifegadget/ember-cli-bootstrap-sassy/blob/master/index.js#L22

[2015-03-16 15:16] yankeeinlondon commented on #8
would love it if you could give me a PR ... been slammed recently so haven't had any cycles but will get it merged in promptly if you have some bandwidth

[2015-03-17 00:35] vicentereig commented on #8
@ksnyde Thanks, sounds good. I'll hit you up when I've got more questions!

[2015-03-24 06:05] ballPointPenguin commented on #8
I did not have success with @sbsurf 's suggestion, but "solved" this by using the full path in my app.scss:

[code]

[2015-03-24 07:20] yankeeinlondon commented on #8
@ballPointPenguin what version of CLI are you using? I have used @sbsurf approach without issue on 0.2.0.

[2015-03-24 07:20] yankeeinlondon commented on #8
@vicentereig have you made any progress on that PR?

[2015-03-24 15:22] tgandee79 commented on #8
@ksnyde it looks like the sassOptions need to be in the environment config, and not in the app options.  I'll be able to test in the next two days. Working on cli version 0.2.1.

[2015-03-24 20:35] yankeeinlondon commented on #8
@tgandee79 yup, that's a change from earlier. It happened at the same time as the API breaking change in 0.2.0 so I wasn't sure the source of the problem at first.

[2015-03-25 00:01] tgandee79 commented on #8
@ksnyde I have a working branch with a number of updates.  I can send a PR if you give me permissions.  The branch updates the node_modules to use the latest, removes hbs support in favor of htmlbars, moves the sassOptions to `treeForStyles`.  I updated the dummy app to have working bootstrap classes.

[2015-03-25 05:13] ballPointPenguin commented on #8
@tgandee79 sounds awesome. Hope to see that soon.
@ksnyde I was using a very fresh ember-cli 0.2.1

[2015-03-31 13:08] yankeeinlondon commented on #8
I think with all the changes that have been made this is closable. If anyone disagrees please reopen.

[2015-03-31 13:08] #8 closed

[2015-03-31 13:14] ksnyde opened #14 "@extend selectors within the same directive"
![image](https://cloud.githubusercontent.com/assets/980757/6919496/6bbb9422-d7af-11e4-95d1-422e3ace6f79.png)

Very strange but when bumping the node version up to 12 for travis tests all of a sudden bootstrap-sass is failing with the message above (and below in text form). It appears to be a genuine issue with bootstrap (that's my first read) but I have no idea why switching the node version would

[2015-03-31 13:17] akisvolanis commented on #14
yes this has to do with the node-sass 3.0.0 beta support https://github.com/twbs/bootstrap-sass/issues/879 .

[2015-03-31 17:49] ksnyde opened #15 "broccoli-funnel not found"
@charlatan154 when I upgrade projects to the new PR you put in I'm getting the error below. Do you have any insight into why? What is the module which brings broccoli-funnel into scope?

Error: Cannot find module 'broccoli-funnel'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (modul

[2015-03-31 17:51] akisvolanis commented on #15
run `npm install broccoli-funnel` . i thought i put it in package dependencies.

[2015-03-31 18:00] yankeeinlondon commented on #15
Yes I was able to get it to work by installing it manually but I'm left confused on how to get this fixed for users of the addon. The reference to broccoli-funnel is in the `package.json` of the addon but does **npm** need a similar template loader similar to:

[code]

I've never seen this and maybe the dependency map of **npm** works differently?

[2015-03-31 18:18] akisvolanis commented on #15
mm to be honest i'm not sure about this... i'll try to check it out.

[2015-04-01 15:32] krzkrzkrz commented on #15
I was getting the same error and did as suggested. i.e. run `npm install broccoli-funel`.

Now I am getting a new error: `Path or pattern "bower_components/bootstrap-sass/assets/javascripts/bootstrap.js" did not match any files`

Running `ember install:addon ember-cli-bootstrap-sassy` again, seems to have fixed it.

[2015-04-01 20:22] yankeeinlondon commented on #15
@krzkrzkrz the reason running the `ember install:addon` fixed it is that you needed to install the bower package "bootstrap-sass" which is the name that is being promoted these days. You probably had "bootstrap-sass-official" which is what this addon used to use. Anyway, glad it is now working for you.

[2015-04-01 20:23] yankeeinlondon commented on #15
@charlatan154 have you had any luck on automating the installation of broccoli-funnel? I'm just getting over 3 days of fever/flu so haven't had bandwidth for much but it would be nice if we could get back to a fully automated install.

[2015-04-01 21:11] akisvolanis commented on #15
Sorry i haven't looked at it yet. I'm under lot of work these days but i hope i'll find some time soon.

[2015-04-03 17:54] akisvolanis commented on #15
fixed with pr [#16](https://github.com/lifegadget/ember-cli-bootstrap-sassy/pull/16). Can close now.

[2015-04-03 18:04] #15 closed

[2015-04-03 18:05] yankeeinlondon commented on #14
We have avoided this for now by moving ember-cli-sass back to version 3.1 which does not suffer from  above problem.

[2015-04-03 18:05] #14 closed

[2015-04-03 20:30] ballPointPenguin opened #18 "Build Error (ember-cli 0.2.2 & ember-cli-sass)"
Maybe I'm just tripping on something, but I'm seeing this error render in a brand new ember-cli 0.2.2 app with ember-cli-sass and ember-cli-bootstrap-sassy addons.

[code]

I also wonder if this is an upstream issue (broccoli-sass, or even just bootstrap's own syntax)

[2015-04-03 20:36] yankeeinlondon commented on #18
Yup. I probably shouldn't have closed a previous issue that explained what was happening here ... but long story short it's not an issue with `ember-cli-bootstrap-sassy` but rather with `ember-cli-sass` and the later beta's of the compiler. Although underlying it all is actually a Bootstrap issue I believe too but in the past the compiler was more robust in handling this issue.

The work-around is

[2015-04-03 20:37] yankeeinlondon commented on #18
Out of interest, did you install using `npm install ...` or `ember install:addon ...`?

[2015-04-03 20:38] yankeeinlondon commented on #18
You refer to https://github.com/lifegadget/ember-cli-bootstrap-sassy/issues/14 for more details.

[2015-04-07 20:24] ballPointPenguin commented on #18
oh. Thanks for that. I did ember install:addon.
I will swim upstream (ember-cli-sass, bootstrap...) :fish:

[2015-04-07 20:24] #18 closed

[2015-04-23 12:20] galileopy opened #20 "Error on installation ember-cli 0.2.3"
This happened on a fresh installation and also after uninstalling packages and installing again

The command below seems to be deprecated,
`$ ember install:addon ember-cli-bootstrap-sassy`

However this works
`$ ember install ember-cli-bootstrap-sassy`

But ends with an error from ember-cli

	version: 0.2.3
	Installed packages for tooling via npm.
	installing
	Installing browser packages via Bower

[2015-04-23 12:25] yankeeinlondon commented on #20
I believe this is an Ember-CLI bug and is being targeted for being fixed in next release. See this for reference: https://github.com/simplabs/ember-cli-simple-auth/issues/26

[2015-04-23 12:26] yankeeinlondon commented on #20
shouldn't get in the way of things working I don't think. WRT to the "install" syntax ... yes that has just recently changed. I think the new syntax is only in 0.2.3. Will update the README soon or drop me a PR.

[2015-04-23 12:26] #20 closed

[2015-06-01 09:39] gniquil opened #22 "Genereated .breadcrumb > li + li:before has double escaped `content`"
Not sure if I am the only one having this problem, but if you use breadcrumbs, rather than showing as "/", you will see the separator as "/\00a0". The original bootstrap sass contains the breadcrumb.scss file:

[code]
The above is correct. However, the generated code has the single "\" in "\00a0" doubled to "\\00a0", hence the error.

Anyone experience the same problem? Any suggestions for a fix?

[2015-06-01 09:41] gniquil commented on #22
Just to elaborate show this, here's a picture:

![screen shot 2015-06-01 at 2 40 38 am](https://cloud.githubusercontent.com/assets/149100/7910236/b12ff5ce-0807-11e5-90a8-4bb1b837db94.png)

[2015-06-01 09:50] yankeeinlondon commented on #22
Interesting. Haven't heard of that issue before. Could you demonstrate with:
- [twiddle](http://twiddle.joostdvrs.com/), or a ...
- [jsbin](http://emberjs.jsbin.com/?html,css,js,output)

[2015-06-01 09:55] gniquil commented on #22
@ksnyde sorry not sure how to demonstrate this using an online tool... (how to build with ember-cli?, and get do a build?)

I did dig out some more info here:

http://stackoverflow.com/questions/21608762/sass-variable-interpolation-with-backslash-in-output

the link shows that single slash can't be reliably used in content to generate single slash. Rather the answer is to define a variable and put

[2015-06-01 10:23] gniquil commented on #22
@ksnyde I created a branch and a pull request for bootstrap-sass:

twbs/bootstrap-sass#911

I checked and it works on my computer.

[2015-06-01 16:35] yankeeinlondon commented on #22
Can you send me a PR? I'll get it turned around quickly assuming it passes Travis tests.

[2015-06-01 17:21] gniquil commented on #22
Yeah will for updates from bootstrap-sass. Once it's merged I will create a PR as well. Thanks!

[2015-06-02 17:27] gniquil commented on #22
Just an update, bootstrap-sass needs it to be changed upstream, here's the issue:

https://github.com/twbs/bootstrap/issues/16576

[2015-06-03 01:46] gniquil commented on #22
Ok, final update. For some bizarre reason the problem had gone away once I restarted my computer. Not sure what happened. Anyway, I will close the issue and the PR. If I see the problem again, may reopen it again.

[2015-06-03 01:46] #22 closed

[2015-06-19 17:14] erichonkanen opened #25 "Glyphicons showing up as emoticons"
Hello,

I recently discovered that the glyphicons dont seem to be loading anymore and show as emoticons on ios.. Not sure what changed that made this happen but also no idea how to fix!

Any suggestions? Im using this repo + bootstrap-sass-official 3.3.5

[2015-06-22 15:16] yankeeinlondon commented on #25
@erichonkanen are you setting the configuration to something other than the default? By default it should load the fonts for glypicons: https://github.com/lifegadget/ember-cli-bootstrap-sassy/blob/master/index.js#L38-L45

[2015-06-22 17:50] erichaus commented on #25
@ksnyde

I've been loading them via my Brocfile:

[code]

[2015-06-22 17:53] erichaus commented on #25
seems like changing back to `0.0.12` from `0.0.18` works

[2015-06-25 10:39] kulpae commented on #25
Updating to ember-cli-sass 4.0.1 fixed that problem for me. (I had 3.3.0)
Latest bootstrap utilizes the '@at-root' directive which came with sass 3.3, but had a bug with '@font-face' until 3.3.4.

[2015-06-25 12:04] yankeeinlondon commented on #25
Ahh great. I'll get this updated over the next day or two (on the road at the moment).

[2015-06-25 16:05] erichaus commented on #25
I'm still having issues.. can you guys clarify which bower and npm packages I need to use this?

So far I have tried via bower: [bootstrap-sass](https://github.com/twbs/bootstrap-sass), and bootstrap-sass-official (is that the same lib? cant find it on git now)

Then in npm there is this package as well as ember-cli-sass. What about brocolli-sass which ive also seen?

Ive confirmed that everything

[2015-07-21 13:44] yankeeinlondon commented on #25
`bootstrap-sass-official` is the old repo name but they are functionally mirrors of each other; better to use `bootstrap-sass` now though.

[2015-07-21 13:46] yankeeinlondon commented on #25
You should include `ember-cli-sass@4.0.1` to get SASS into your project, this is a dependency for Bootstrap SASS to work for you.

[2015-07-24 22:01] elidupuis commented on #25
I've updated to `ember-cli-sass@4.0.1` and Bootstrap is being compiled properly now (I can see the Glyphicon files being requested). The problem now is that it's looking in `/assets/fonts` but the actual font files are placed in `/fonts` (this is all inside the `/dist` folder, obviously).

Is there configuration for this?

[2015-07-24 22:14] elidupuis commented on #25
Actually, it looks like the issue is that the font files are placed in `/assets/fonts/bootstrap/` but the CSS is just pointing to `/assets/fonts/`.

**Actual location**
![image](https://cloud.githubusercontent.com/assets/196410/8885634/c916b970-321e-11e5-922b-5d560690573a.png)

**Requested location**
![image](https://cloud.githubusercontent.com/assets/196410/8885646/e44b27a8-321e-11e5-9ae6-39c3a88

[2015-07-27 14:21] elidupuis commented on #25
Disregard my previous comments. I didn't realize there was a `$icon-font-path` override in our code from our previous set up. :-1: :disappointed:

[2015-08-05 23:24] tzhbami7 opened #26 "Broken in 1.13.1?"
Hi there,

Not sure if my system bugs around or it just doesn't work with my ember-cli version.

I've installed bootstrap-sassy like explained in your readme and installed ember-cli-sass

`ember install ember-cli-bootstrap-sassy`
`npm install --save-dev ember-cli-sass`

`mv app/styles/app.css app/styles/app.scss`

in app.scss
`@import "bootstrap";`

My issue is that it loads my app without any css

[2015-08-06 08:18] tzhbami7 commented on #26
Update:
I had to re-add app.css and add the import stuff in app.scss to get it work - Is there any reason to leave app.css in app/styles/ ?

Cheers,
Michael

[2015-08-06 08:31] #26 closed

[2015-08-06 08:55] yankeeinlondon commented on #26
So you have both `app.css` and `app.scss`and they're both being processed?

[2015-08-06 08:59] yankeeinlondon commented on #26
I must admit most of my energy recently has been on addons but I will be upgrading a project from 1.12 to 1.13 today/tomorrow so should be in a better position to answer then. I'll let you know if I find anything  of interest.

[2015-08-06 10:54] yankeeinlondon commented on #26
btw, there is NOT a good reason for needing `app.css` (I don't have it) but I guess it's maybe a small price to pay to get it working :)

[2015-11-19 17:06] blimmer opened #27 "Update broccoli-funnel dependency"
To `^1.0.0`. I think it should be a clean update. It will fix this warning when `npm install`-ing against a project using 1.0.0+ of funnel:

[code]

[2015-11-19 19:10] yankeeinlondon commented on #27
Will get to this over the weekend

[2015-11-24 15:11] yankeeinlondon commented on #27
@blimmer i've updated all dependencies but haven't published to `npm` because it's not working yet. No errors but the `index.js`'s `treeForStyles()` function seems to have broken. Here's the code:

[code]

Seems like there may have been some breaking changes to either `treeForStyles` or `Funnel`? Do you have any insight into this?

[2015-11-26 15:53] ConorNugent opened #29 "Undefined variable: "$dl-horizontal-breakpoint"."
Hi,

Sorry to bother you about this but I ran into a really weird issue yesterday which I think might related to bootstrap-sassy. I first came across it when I tried to deploy to heroku. The build kept failing with a compile failure

Error: Undefined variable: "$dl-horizontal-breakpoint".

I wasn't getting this locally which really threw me. My guess was it might be due to some variation in the wa

[2015-11-26 15:56] yankeeinlondon commented on #29
Interesting. I am using the latest npm release in some 1.13.x project and haven't noticed this but the dependencies on this repo were getting quite old and so I brought it up to the ember-cli@1.13.13 level but haven't release this to npm because I'm running into some issues that I suspect are related to change in `Funnel` or **broccoli** somewhere. That's unconfirmed but I haven't had the chance t

[2015-11-26 15:57] yankeeinlondon commented on #29
happy to take a PR though if you think you can tackle this ... especially if you take your PR from the baseline in @master.

[2015-11-26 16:16] ConorNugent commented on #29
I'll have a dig around and see if I can get to the bottom of this. If I can I'll happily stick up a PR

[2015-11-26 16:16] yankeeinlondon commented on #29
thanks

[2015-11-26 20:04] ConorNugent commented on #29
I spent the afternoon looking at this and I think this might be a more fundamental ember-sass issue so I have opened up an [issue there](https://github.com/aexmachina/ember-cli-sass/issues/91). I'll let you know if hear of anything

[2015-11-27 10:22] yankeeinlondon commented on #29
Nice leg work, thanks. Hope we can get to the bottom of this quickly for you.

[2015-11-27 11:26] szines opened #30 "[Doc] ember-cli-build.js instead of Brocfile.js"
Thanks for this great package, I think, your bootstrap solution is the best for an Ember app. I always suggest this one. :)

https://github.com/lifegadget/ember-cli-bootstrap-sassy#bootstrap-javascript
Just a little note in terms of Readme. The `brocfile.js` is renamed to `ember-cli-build.js` in the latest versions of the ember-cli.

[2015-11-27 15:43] ConorNugent commented on #29
Hey Ken, this was down to some changes to our custom bootstrap file that crept in under the radar. I'm really sorry for the hassle especially given your deadline. Thanks for being so responsive and  bootstrap_sassy! Sorry once again

[2015-11-27 15:43] #29 closed

[2015-11-27 15:56] yankeeinlondon commented on #30
yes thanks @szines I'll get that updated on @master right now and on `npm` once I can get an annoying problem fixed with some of the updated dependencies I'm bringing in with the next release.

[2015-11-27 15:58] yankeeinlondon commented on #29
no problem, glad you solved it

[2015-11-27 15:59] yankeeinlondon commented on #30
If you're ok with it I'll close this now; please reopen if you feel it should remain that way.

[2015-11-27 15:59] #30 closed

[2015-11-27 21:27] yankeeinlondon commented on #25
I'm closing this but if you're still experiencing an issue please let me know

[2015-11-27 21:27] #25 closed

[2015-11-28 00:53] zoltan-nz commented on #30
:+1: Thank You. Keep up the great work. :)

[2015-11-29 03:46] blimmer commented on #27
Hmm, I was looking at the [treeFor docs](https://github.com/ember-cli/ember-cli/blob/master/ADDON_HOOKS.md#treefor) and I don't see any recent changes. If you want, do you want to push a branch up that I could play with?

[2015-12-01 14:36] yankeeinlondon commented on #27
@blimmer thanks for the offer. I've created a branch called 1.13.13.

[2015-12-07 01:44] blimmer commented on #27
Still working on this, but wanted to give a quick update. Checked out before your 1.13.13 commit and **just** upgraded broccoli-funnel and everything looks good. I think it must be something else in that commit that messed something up. Still digging but wanted to give an update.

[2015-12-07 02:30] blimmer commented on #27
All fixed up and #31 is available for your review.

[2015-12-11 12:36] ajainvivek opened #34 "Glyphicons are not working"
Glyphicons aren't showing up. Looks like icon fonts are not loading up.

[2016-02-16 00:45] KedneckInc opened #35 "Cannot read property 'ember-cli-bootstrap-sassy' of undefined"
I'm trying to use ember-cli-bootstrap-sassy as an addon, inside an addon that I'm writing, but there appears to be some error in ember-cli-bootstrap-sassy.

I say this because I can add 'ember-cli-sass' without difficulty, but not 'ember-cli-bootstrap-sassy'.

One possible clue is that after digging around a lot looking for an answer, I found one mention that you get this sort of error if you call

[2016-02-16 11:36] yankeeinlondon commented on #35
I'm focusing more time on my Bootstrap 4 addon now: `ui-bootstrap` but I've made a small change to the `index.js` file which I think may fix your problem. Can you try it and let me know? Current version is `0.5.2`

[2016-02-16 13:59] KedneckInc commented on #35
Same error, different line?  I ran the same steps as above.

I'll try your 'ui-bootstrap' since I'd like to keep up with bootstrap myself, I'll let you know if it has the same problem.

[code]

[2016-02-17 00:05] KedneckInc commented on #35
Unfortunately, 'ui-bootstrap' appears to have the same basic problem.

[code]

[2016-02-17 00:07] yankeeinlondon commented on #35
I've made quite a few updates tonight on UI-bootstrap, do you know which version you were using?

[2016-02-17 01:01] KedneckInc commented on #35
Not exactly, so I'm running the test again.  The test was done just minutes before I posted the message.

[2016-02-17 01:07] KedneckInc commented on #35
Just tried it with 0.0.21, same issue.

[2016-02-17 01:08] KedneckInc commented on #35
[code]

[2016-02-17 01:15] KedneckInc commented on #35
I put in a console.log('number') between each line of the index.js file, and it (strangely enough) seems to be blowing in the following line:

[code]

[2016-02-17 01:17] KedneckInc commented on #35
Okay... 'app.options' is undefined.  That explains the error message.  Now why is app.options undefined?

[2016-02-17 01:36] KedneckInc commented on #35
Huh... known issue?

https://github.com/ember-cli/ember-cli/issues/3718

When I try the

[code]

I get the error where app.import is not defined.  Looks like this is a known issue with no good workaround for now.

[2016-02-17 01:37] KedneckInc commented on #35
Might want to take a look at these:

parent addon: https://github.com/knownasilya/google-maps-markup/blob/master/index.js#L10
child: https://github.com/knownasilya/ember-palette/blob/master/index.js#L13

[2016-02-17 09:47] yankeeinlondon commented on #35
Very odd, especially the need to change the child. It seems the way `parentAddon` is being passed into the included hook isn't fully dereferenced? Not sure I've fully grokked what's going on yet but we can make these changes and see how it works.

[2016-02-17 11:28] yankeeinlondon commented on #35
I'm consuming `ui-bootstrap` in both an **addon** and an **app** and it seems work without this fix both for the ui-bootstrap component but also the cascading of `ember-cli-flash` (I had to send a pull request here so that it would cascade), `ember-modal`, and `ember-tooltips`. I think the example you're giving is sort of creating a problem that it needs to unwrap.

Is the addon you're working on

[2016-02-17 16:23] KedneckInc commented on #35
The test sequence described earlier is what I've been using to try and figure out what's going on.  The initial process involves no code changes on my part at all, only a move of the addon from the 'devDependencies' group to the 'dependencies' group.

According to what I've read, that _should_ be all that's needed.  While there is an 'addAddonToPackage' method, I had to search the code to find it,

[2016-02-17 17:27] KedneckInc commented on #35
I've attached a copy of the script I built to test this issue, and a copy of the output of the last run I made (mildly edited).  I make no other changes.  I've tried both ember-cli 2.3.0-beta.2 and the just released 2.3.0.

[testscript.txt](https://github.com/lifegadget/ember-cli-bootstrap-sassy/files/134822/testscript.txt)
[log.txt](https://github.com/lifegadget/ember-cli-bootstrap-sassy/files/13

[2016-02-18 16:16] yankeeinlondon commented on #35
I realized that I wasn't seeing the full picture on my consumer app as I had `npm link`ed it up and it was giving me some false positives as a result. Anyway, have had very little bandwidth the past two days but I did make a change that worked for me. I'd be interested if it works for you (although the error you appear to be getting is not one I've gotten).

[2016-02-18 16:17] yankeeinlondon commented on #35
latest is `ui-bootstrap@0.0.22`

[2016-02-23 04:25] KedneckInc commented on #35
The error is basically the same, the name changed to 'uiBootstrap', instead of 'ui-bootstrap'.

[2016-03-05 20:03] munsellj commented on #34
There's some discrepancy between how the font files are being exported vs. where bootstrap-sass is looking for them to be by default.  There's a number of ways to work around this but probably the most straightforward is to copy the bootstrap glyphicon font files to a `public/fonts/bootstrap/` directory.  If you are doing a custom include to only use explicit components you can also override the b

[2016-03-09 18:37] kmmathis opened #36 "Problems with Ember CLI 2.4.2"
Just upgraded my project to the latest Ember CLI (2.4.2 at the time of this issue) and I'm getting the following error when specifying specific JS modules in ember-cli-build.js. When I remove the 'js' array from the build file, everything works fine.

[code]

[code]

[2016-03-09 18:50] yankeeinlondon commented on #36
It appears something is interfering with getting the "bowerDirectory". Can you try going into the `ember-cli-bootstrap-sassy/index.js` and modifying line 9 to:

[code]

Let's see if that works. Also another interesting troubleshooting step would be to output the value of `this.bootstrapPath` both at line 21 and 49.

[2016-03-09 19:02] kmmathis commented on #36
Modifying line 9 seemingly has no effect. The value of `this.bootstrapPath` is the same on both lines: `bower_components/bootstrap-sass/assets/`

[2016-03-09 19:03] yankeeinlondon commented on #36
ok, and you've checked that you have `bower_components/bootstrap-sass/assets` directory, right?

[2016-03-09 19:04] kmmathis commented on #36
Yup, just double checked and it's there

[2016-03-09 19:05] yankeeinlondon commented on #36
maybe it's time for `rm -rf node_modules tmp dist` with a `npm cache clean` before reinstalling npm modules? Sorry, driving a bit blind at the moment.

[2016-03-09 19:26] kmmathis commented on #36
I figured out what's going on. Seems to be a scope issue. The call to `this` on line 22 inside the import method isn't referencing the scope of the `included` property. Doing something like

`var self = this;`

and then

`target.import(self.bootstrapPath + 'javascripts/bootstrap/' + fileName + '.js');`

fixes the issue

[2016-03-09 19:28] yankeeinlondon commented on #36
Great, nice work. Do you want to send me a PR for that?

[2016-03-09 19:55] kmmathis commented on #36
I was on my way to do that, but then I noticed that the `index.js` file in my node_modules folder is a different version than the `index.js` file in the repo. I've cleared the cache and tried uninstalled and re-installing the addon, but I keep getting a different version. Any insight on why that might be happening?

The entry in package.json is:

`"ember-cli-bootstrap-sassy": "0.5.2",`

[2016-03-09 19:56] kmmathis commented on #36
FWIW, replacing my local index.js with the index.js from this repo fixed the issue I was having. I have a feeling this is some silly mistake I've made.

[2016-03-09 21:36] yankeeinlondon commented on #36
Well yes I see what's happening the last pushed repo version was npm `0.5.1` and I must have published `0.5.2` without pushing the local commit. Admittedly this "fix" seems to be contributing to your woes. The fix _was intended_ to allow for addon's to cascade down to the application

[2016-03-09 21:37] yankeeinlondon commented on #36
Let me push it up and then if you apply the PR then hopefully we'll have solved your problem at the same time as making it cascade-friendly at the same time.

[2016-03-09 21:38] yankeeinlondon commented on #36
I've pushed back up to Origin.

[2016-03-09 22:01] kmmathis commented on #36
Thank you!

[2016-03-09 22:01] #36 closed

[2016-04-12 10:31] locks opened #38 "FastBoot compatibility"
I was trying to enable FastBoot on an application that uses this addon, but I am getting the following error message:

[code]

Could you investigate if it's possible to make the addon work in FastBoot?
I've tried to configure the addon to not import the JavaScript files, but it didn't seem to make a difference.

[2016-04-13 02:10] yankeeinlondon commented on #38
Interesting. Shouldn't need jquery. Not too fastboot savvy yet though.

[2016-04-13 02:19] yankeeinlondon commented on #38
Any chance you could send me a PR? I am spending most of my time on BS 4.0 (ui-bootstrap) these days.

[2016-04-13 02:20] #27 closed

[2016-04-13 02:21] yankeeinlondon commented on #34
@munsellj not sure but happy to take a PR

[2016-04-13 08:00] locks commented on #38
I believe #39 should patch the problem, at least it isn't erroring out anymore. I can't confirm for sure how well it works because another addon is still preventing the page from rendering.

[2016-06-11 06:24] v3ss0n opened #40 "How to change theme?"
How one can change theme without hacking internals? I watn to switch to material-bootstrap.

[2016-06-12 12:28] yankeeinlondon commented on #40
The intent of this addon is just to incorporate the Bootstrap 3.0 CSS and JS. There is no support for theming currently. If you'd like to send me a PR I'd be happy to accept that. For reference, however, I am primarily using my `ui-bootstrap` addon these days. It uses BS 4.0. Still no theming though.

[2016-06-30 19:09] lkgarrison commented on #38
@locks Thanks for your fix. However, I'm trying to install ember-cli-bootstrap-sassy but ember keeps installing bootstrap-sass instead. Why would this be happening, as bootstrap-sass doesn't have your fastboot fix?

![image](https://cloud.githubusercontent.com/assets/6644421/16500878/91c4294e-3ed4-11e6-95fc-2be58b14d04c.png)

[2016-07-01 14:30] locks commented on #38
@lkgarrison doesn't ember-cli-bootstrap [depend on bootstrap-sass](https://github.com/lifegadget/ember-cli-bootstrap-sassy/blob/master/bower.json#L16)?

[2016-07-01 16:26] lkgarrison commented on #38
@locks Yeah, but I'm not sure how to actually use bootstrap-**sassy** since it doesn't appear to have actually been installed anywhere. Maybe this is more of a question for @ksnyde

[2016-07-01 16:28] yankeeinlondon commented on #38
Hi @lkgarrison, I've personally moved more to Bootstrap 4 where I'm updating `ui-bootstrap` as a similar addon to `bootstrap-sassy`. If that's not appropriate for you though I'm happy to accept a PR and I'll get that incorporated quickly.

[2016-07-01 16:31] yankeeinlondon commented on #38
I'm not sure I understand your issue though. The main goal for `ember-cli-bootstrap-sassy` is to install the SASS version of Bootstrap 3. To leverage it you'd still need a SASS pre-processor in your project and this addon assumes you're using bootstrap-sass.

[2016-07-11 02:10] techswa opened #41 "Lost on install - 3 hours into it"
I keep getting an error message and then I will uninstall everything and try again after reading through SO and Google.  I'm not sure if I have a version issue or just bad luck.  I'm on OS X and have the following stack:
Ember-cli 2.6.2
Node v4.4.5

I have installed $ npm install --save-dev ember-cli-sass

But when I try
$ npm install --save-dev ember-cli-sass

I get:
$ ember install ember-cli-boo

[2016-07-11 06:45] yankeeinlondon commented on #41
a few things ...
- you make reference to `ember-cli-sass`; there is/was an addon with that name quite a long time back which -- if I remember right -- is why I named it _sassy_. I think in this case this was just a typo so I'll precede with that assumption
- you installed the addon with `npm install` and while that installs the addon it doesn't execute the addon's install generator. Instead it's a

[2016-07-11 14:10] techswa commented on #41
Thanks.  Its difficult not to feel dumb when your not familiar with all the build tools:)  I figured out how to "rip" out the wrong libraries and start over.  I now have :

bower.json {
...
    "bootstrap": "~3.3.5",
    "bootstrap-sass": "^3.3.6"
}

package.json {
....
    "ember-cli-bootstrap-sassy": "0.5.3",
}

I have also created the app.scss with the contents of:

@import "bootstrap";
@import

[2016-07-11 14:15] yankeeinlondon commented on #41
A few more comments:
- you do not need/want to have `bootstrap` in your **bower.json**, just `bootstrap-sass`
- does making changes to your `styles/app.scss` make any changes? Try some basic styling adjustments. My guess is that you're still not using "ember-cli-sass". Make sure you install this with `ember install ember-cli-sass".

[2016-07-11 14:40] techswa commented on #41
I ran bower uninstall bootstrap.  The command line showed that the library was removed, but the tree still showed the bootstrap branch and the bower.json file still had the entry.  I manually removed the entry and rebooted the ember server.  Still the same. I ran the 'ember install ember-cli-sass. Everything came back green, exiting with 'Binary is fine; exiting.'  I have added .text-center to the

[2016-07-11 16:24] yankeeinlondon commented on #41
Great. Glad you got it working. I'll close this issue for now but let me know if you have any other problems.

[2016-07-11 16:24] #41 closed

[2016-08-12 12:57] Sinled commented on #35
any updates on this issues?

still receiving
`Cannot read property 'ember-cli-bootstrap-sassy' of undefined`
when trying to use with addon

[code]

[2016-08-31 11:39] yankeeinlondon commented on #35
@Sinled happy to take a PR, I don't use this repo anymore so my bandwidth is limited (see above I'm using `ui-bootstrap` now). I will turn around any PR I receive promptly.

[2016-10-21 06:51] selvaa89 opened #44 "Get rid of bower dependency"
I am using this addon as a nested addon in my project. Since the bootstrap-sass is installed via bower, I have to execute the default blueprint from the parent addon to install the bower dependency.

So, if we use npm package instead of bower, it will be easy to nest this addon.

[2016-10-21 09:16] yankeeinlondon commented on #44
Yeah that's a good idea and the approach i'm taking with all my new addons. I'm not actively using this one anymore but very happy to take a PR if you want to send me one.

[2016-10-23 13:34] selvaa89 commented on #44
I will raise a PR. Could you look at the PR I have already raised?

[2016-10-24 16:12] #35 closed

[2017-02-08 04:22] shijistar opened #45 "Not supported NPM v3?"
I'm using node v6.9.5 which integrates NPM v3. When I try to run my ember project, I got the following error:

[code]

I guess it could be related to the new file structure of npm v3, but I'm not quite sure. Anyone can help? I can't startup my project. Thank you very much.

[2017-03-25 08:37] kliput opened #46 "Deprecation message on build in Ember 2.12: no JavaScript preprocessors were found for..."
Hi,
The below deprecation message is shown when building Ember 2.12 app with ``ember-cli-bootstrap-sassy``:
[code]
Best regards,
Jakub

[2017-04-24 18:03] escobera commented on #46
@blimmer, hey there! are you waiting on some other issues to bump the version number?

[2017-04-24 19:11] blimmer commented on #46
I'm not an owner on this project, but I think it got deployed as 0.5.6

https://github.com/lifegadget/ember-cli-bootstrap-sassy/pull/47#issuecomment-294910119

[2017-04-24 19:33] kliput commented on #46
Just tried 0.5.6 and it's fixed. Thanks a lot :)

[2017-04-24 19:33] #46 closed

[2017-04-24 19:37] yankeeinlondon commented on #46
Yes. Should be fixed.

[2017-07-19 06:33] tarponjargon opened #50 "ember 2.14.0 fastboot problem "Error: Bootstrap's JavaScript requires jQuery""
I just upgraded from 2.13.1 to 2.14.0 and am getting this error, which prevents my app from running.  If I use: http://localhost:4200/?fastboot=false the app runs normally.  I also tried uninstalling ember-cli-bootstrap-sassy and the app *does* run in fastboot (albeit it's very ugly w/o bootstrap).

Hopefully I'm not barking up the wrong tree here.  Any help appreciated!  Full error below:

[code]

[2017-07-20 03:14] tarponjargon commented on #50
As a test I created an ember-quickstart project:

[code]

And I get the same "Error: Bootstrap's JavaScript requires jQuery" error as post above.

if I uninstall ember-cli-bootstrap-sassy:

`npm uninstall ember-cli-bootstrap-sassy --save-dev`

Everything works.

versions:

[code]

[2017-07-20 12:21] yankeeinlondon commented on #50
I'm not using Fastboot so my hands on experience is zero but I believe that Bootstrap 3.x (if not 4.x) has some JS dependencies that depend on JQuery. So in essence I think the error is a result of these deps not on this addon specifically.

I have been using Bootstrap 4.x and in this case I really don't use any of the JS dependencies of Bootstrap (see my `ui-bootstrap` addon for my 4.x implementa

[2017-07-20 12:22] yankeeinlondon commented on #45
Did you ever solve this? Sorry but I'm not using this addon anymore (even though I authored back in the day). I'm using `ui-bootstrap` instead which uses Bootstrap 4.x. Very happy to take a PR if you have solved this.

[2017-07-20 12:23] yankeeinlondon commented on #44
I believe your PR closed this, so closing issue.

[2017-07-20 12:23] #44 closed

[2017-07-20 19:45] tarponjargon commented on #50
So yeah, adding this option to `ember-cli-build.js`:

[code]

Does work.

I'm not sure exactly what changed with the latest version of fastboot, but the prior version was not bothered about bootstrap JS being enabled with this plugin.

I actually was using some of that bootstrap JS (for menus), so I guess I'll need to rewrite that to be more ember-y.  Which I should have done in the first place.

[2017-08-01 07:23] diasjorge opened #51 "Issue new release?"
I'm currently seeing the following warning.

DEPRECATION: Addon files were detected in `/Users/jorge/development/spt/access/heimdall-admin/node_modules/ember-cli-bootstrap-sassy/addon`, but no JavaScript preprocessors were found for `ember-cli-bootstrap-sassy`. Please make sure to add a preprocessor (most likely `ember-cli-babel`) to in `dependencies` (NOT `devDependencies`) in `ember-cli-bootstra

[2017-09-04 14:45] greyhwndz opened #52 "problem with ember-power-datepicker"
created a new ember app (v2.15), installed `ember-cli-sass` & `ember-power-datepicker`: datepicker from the example from its readme was working.
installed `ember-cli-bootstrap-sassy`, suddenly the datepicker stopped working.
could this be a bug with bootstrap-sassy?

[2018-01-02 13:18] zoltan-nz opened #53 "Deprecation alert in Ember v2.18 apps"
A new deprecation message is started to appear after upgrading to Ember v2.18.

[code]

[2018-01-07 14:27] #53 closed

[2018-01-15 21:31] jmmorganMSTS opened #55 "glyphicons font files corrupted by ember build in 0.5.7"
After upgrading to 0.5.7 the font files created under the `dist/` directory by `ember build` or served by `ember server` were not loading into browsers.

The installed source font file `node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff` is 23424 bytes, a hex dump of the first few bytes is:
[code]

The post build font file `dist/fonts/bootstrap/glyphicons-halfling

[2018-01-20 04:11] zoltan-nz commented on #55
The issue is here: https://github.com/lifegadget/ember-cli-bootstrap-sassy/blob/master/index.js#L92

broccoli-stew map mutate all files and alter the original font files also... I try with adding a filter.
https://github.com/stefanpenner/broccoli-stew/blob/master/lib/map.js#L26

[2018-01-20 05:24] #55 closed

[2018-01-22 09:10] zoltan-nz commented on #34
I think, this is not an issue anymore... so this can be closed. ;)

[2018-01-22 09:12] zoltan-nz commented on #38
Ember-cli-bootstrap-sassy is FastBoot compatible now, so this issue could be closed, I think. ;)

[2018-01-22 09:13] zoltan-nz commented on #40
Is it still a requirement or the issue can be closed maybe?

[2018-01-22 09:15] zoltan-nz commented on #45
Ember-cli-bootstrap-sassy is compatible with Node.js v4 and Node.js v6 and Node.js v8. It is not an issue anymore. I think, this issue can be closed. ;)

[2018-01-22 09:15] zoltan-nz commented on #50
Fastboot compatibility is implemented, so this issue could be closed. ;)

[2018-01-22 09:16] zoltan-nz commented on #51
This is fixed and the new release doesn't have any deprecation message, so this issue could be closed. ;)

[2018-01-22 09:53] zoltan-nz commented on #52
In `./app/styles/app.scss` should have the following two lines:

[code]
It looks, the two addons are working together properly. I think, we can close this issue.

[2018-01-22 09:57] zoltan-nz opened #57 "New feature: adding Bootstrap 4"
I think, there could be a config option which would determine which Bootstrap version should be wrapped in `vendor.js`.

Suggested config property:

[code]

In ember-cli-bootstrap-sassy v1.0.0 can be Bootstrap v4 the default.

[2018-01-22 10:30] #38 closed

[2018-01-22 19:06] yankeeinlondon commented on #45
Agreed. Thanks for being my eyes and ears. Haven’t been doing any Ember lately so my attention has wondered.

[2018-01-22 19:06] #45 closed

[2018-01-22 19:07] yankeeinlondon commented on #40
I am closing. V3ssOn if you are unhappy with this reach and let’s discuss.

[2018-01-22 19:07] #40 closed

[2018-01-22 19:07] #50 closed

[2018-02-09 08:52] belgoros commented on #57
👍 That would be great to have **Bootstrap 4** implemented with the same success: no headaches with JS components, just use Bootstrap CSS classes (no need to use special tags s it is the case with [ember-bootstrap](http://www.ember-bootstrap.com/) or [ember-cli-foundation-sass](https://github.com/acoustep/ember-cli-foundation-6-sass) add-ons. Waiting with impatience :). Unfortunately, there are som

[2018-02-10 17:31] yankeeinlondon commented on #57
I think there are enough differences in philosophy as well as structure to just have a separate repo for this. I created a BS4 addon a year ago or so called [`ui-bootstrap`](https://www.npmjs.com/package/ui-bootstrap) that did this. I have stopped development on that but I just did a search on emberaddons and seems there's a recently updated [ember-cli-bootstrap-4](https://www.npmjs.com/package/em

[2018-02-10 17:33] yankeeinlondon commented on #57
If anyone is interested in taking over as maintainer for `ui-bootstrap` or `ember-cli-bootstrap-sassy` I'm happy to pass the responsibility over. I feel my current time on Ember is too limited to serve it full justice.

[2018-02-11 11:30] belgoros commented on #57
Thank you, Ken for the link. Unfortunately it even [fails](https://github.com/kaermorchen/ember-cli-bootstrap-4/issues/30) to boot.

[2018-02-12 01:14] yankeeinlondon commented on #57
Bummer. Well my `ui-bootstrap` should still work if you need BS4 in a hurry.

[2018-02-12 08:58] belgoros commented on #57
Thank you, Ken. They've [fixed](https://github.com/kaermorchen/ember-cli-bootstrap-4/commit/5cf67f0597c6a68edd8b7fce315a87bce20e1d05) it.

[2019-02-20 03:50] ReTheOff opened #58 "Ember 3.4 and 3.8?"
I actually have this running with 3.8 right now, but get some "unmet peer dependency" warnings when running a yarn install. Something about @babel/core@^7.0.0-beta.42.

Currently we still need Bootstrap 3 and having SASS is super helpful, so this addon is very useful to us.  Over time we plan to move to Bootstrap 4 using other addons, but this one is perfect for keeping compatibility of styles unt

[2019-05-15 15:29] #51 closed

[2019-07-23 18:17] mehran-naghizadeh commented on #34
I have the same issue, I have installed ember-bootstrap right now and followed the entire procedure of adding sass support, generating the blueprint etc. Now I have copied this line from the provided sample:

`<span class="glyphicon glyphicon-plus"></span>`

 But no icon is shown. My Ember version is 3.11 if that matters. Any ideas?

[2019-09-28 03:03] boris-petrov opened #59 "Should not modify files in node_modules"
[This line](https://github.com/lifegadget/ember-cli-bootstrap-sassy/blob/master/index.js#L113) in the plugin modifies a file directly in `node_modules`. This breaks `yarn`/`gradle`/whichever-build-system caches/task up-to-date checks.